@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap");
* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #b7e3cc;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
/* HEADER */
.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: #000 2px solid;

  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #eaafc8,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #eaafc8,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header__img {
  height: 70px;
}
.header__title {
  font-size: 30px;
  font-weight: 900;
  margin: 15px 10px 0px 10px;
}

/* NAVBAR DESKTOP*/
.nav {
  display: none;
}
/* NAVBAR SMARPHONE BURGER*/

.nav-container {
  background-color: rgb(84, 72, 197);
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 35%;
  border: 3px solid rgb(0, 0, 0);
}

.hidden-nav {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: rgb(255, 255, 255);
  padding: 12px;
}
.fa-solid {
  font-size: 40px;
}
.nav__menu-toggle {
  display: none;
}
.nav__links-container {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.nav__link {
  text-decoration: none;

  color: rgb(0, 0, 0);
  font-size: 20px;
}
.nav__link-l {
  color: rgb(67, 9, 9);
}
.nav__link-r {
  color: rgb(59, 9, 9);
}
.hidden-nav__links {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 65vh;

  padding: 20px 5px;
  list-style: none;
  background-color: #b7e3cc;

  border: 2px solid rgba(141, 27, 27, 0.453);
  position: fixed;
  top: -200px;
  left: -500px;

  box-shadow: #681324a9 0px 2px 2px 2px;
}

.nav__menu-toggle:checked ~ .hidden-nav__links {
  display: flex;

  transform: translate(500px, 270px);
}

.hidden-nav__item {
  color: rgb(242, 242, 242);
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  height: 75vh;
  width: 100%;
  padding: 10px 30px;
  border-radius: 15px;
  background: #403a3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top right,
    #be5869,
    #403a3e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top right,
    #be5869,
    #403a3e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: transparent;
  text-decoration: none;
}
.hidden-nav__item--intro {
  color: #0e0703;
  padding: 12px 35px;
}
/* MAIN */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* SECTION HERO */
.hero {
  display: none;
}
.hero__img {
  display: none;
  height: 250px;
}
/* SECTION TEXT-INFO */

.hero__container-portada {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero__portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero__parrafo {
  font-size: 20px;
  font-weight: 400;
  width: 80%;
}
.hero__links-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  text-decoration: none;
  width: 100%;
}

.hero__btn {
  text-decoration: none;

  font-size: 18px;
  font-weight: 600;
  border: 2px solid black;
  padding: 3px 7px;
  background-color: rgb(97, 24, 24);
  color: rgb(255, 255, 255);
}
.hero__btn--color {
  color: #ffffff;
  background-color: #000000;
  border: 2px solid rgb(228, 14, 14);
}
/* SECTION CARDS__BOOKS */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards__container-texto {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards__h2 {
  text-align: center;
  margin: 20px 0px 0px 0px;
}
.cards__parrafo {
  padding: 5px;
  font-weight: 400;
}
.descarga--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descarga__title {
  color: #7d3800;
  margin: 0px 0px 30px 0px;
}

.descarga__img--container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.descarga__img {
  transform: rotate(180deg);
  height: 40px;
  position: relative;
  z-index: -10;
}

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  gap: 10px;
}
.cards__img {
  width: 30%;
}
.cards__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  background-color: #e4c8cd;
  border: 2px solid #1d1a05;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 3px #000;

  padding: 20px;
}

.cards__h3card {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cards__btn-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #9f5d6a;
  border: 2px solid black;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: #000000 0px 0px 6px 3px;
  background-color: #b2b5d3;
}

/*  SECTION CONTACT US */
.contact {
  display: flex;
  width: 90%;

  justify-content: center;
  align-items: center;
}
.contact__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.contact__map {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__address-p {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.contact__email {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.contact__tel {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.contact__Info {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  background-color: #000;
  border: 2px solid #fff;
  margin-top: 15px;
}
.footer__p {
  color: white;
}
.footer__logo {
  width: 80px;
}

@media (max-width: 552px) {
  /* NAVBAR */

  /* HERO */

  /* SECTION TEXT-INFO */
}
