@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap");
* {
  font-family: "Roboto", Times, serif;
  box-sizing: border-box;
}
body {
  background: #fffbbd;
  background: -moz-linear-gradient(top, #fffbbd 0%, #e6aa68 37%, #ca3c25 100%);
  background: -webkit-linear-gradient(
    top,
    #fffbbd 0%,
    #e6aa68 37%,
    #ca3c25 100%
  );
  background: linear-gradient(to bottom, #fffbbd 0%, #e6aa68 37%, #ca3c25 100%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
/* HEADER */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  background-color: #874000;
}
.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__img {
  height: 70px;
}
.header__title {
  font-size: 30px;
  font-weight: 900;
  margin: 15px 10px 0px 10px;
}

/* NAVBAR DESKTOP*/
.nav {
  display: none;
}
/* NAVBAR SMARPHONE BURGER*/

.hidden-nav {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0px;
  background-color: rgb(212, 103, 49);
  height: 50px;
}
.fa-solid {
  font-size: 40px;
}
.nav__menu-toggle {
  display: none;
}
.nav__links-container {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.nav__link-l {
  color: #fff;
}
.nav__link-r {
  color: red;
}
.hidden-nav__links {
  width: 100%;

  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 20px 5px;
  list-style: none;
  background-color: #e6aa68;

  border: 2px solid black;
  position: absolute;
  height: 600px;
  top: 30px;
  left: -400px;
}

.nav__menu-toggle:checked ~ .hidden-nav__links {
  display: flex;
  transition: transform;
  transition-duration: 3s;
  transform: translatex(400px);
}
.hidden-nav__item {
  color: #000;
  font-size: 20px;
  width: 100%;
  padding: 10px 50px;
  background-color: #a05555;

  text-decoration: none;
}
.hidden-nav__item--intro {
  background-color: rgb(187, 62, 45);
  color: #fffbbd;
  padding: 18px 50px;
}
/* MAIN */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* SECTION HERO */
.hero {
  display: none;
}
.hero__img {
  display: none;
  height: 250px;
}
/* SECTION TEXT-INFO */

.hero__container-portada {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero__portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero__parrafo {
  font-size: 20px;
  font-weight: 400;
  width: 80%;
}
.hero__links-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  text-decoration: none;
  width: 100%;
}

.hero__btn {
  text-decoration: none;

  font-size: 18px;
  font-weight: 600;
  border: 2px solid black;
  padding: 3px 7px;
  background-color: rgb(97, 24, 24);
  color: rgb(255, 255, 255);
}
.hero__btn--color {
  color: #ffffff;
  background-color: #000000;
  border: 2px solid rgb(228, 14, 14);
}
/* SECTION CARDS__BOOKS */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards__texto {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards__h2 {
  text-align: center;
  margin: 20px 0px 0px 0px;
}
.cards__parrafo {
  padding: 5px;
}
.cards__title-download {
  margin: 10px 0px;
}
.cards__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}
.cards__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  background-color: #97635b;
  border: 2px solid #1d1a05;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 3px #000;

  padding: 20px;
}
.cards__img {
  width: 20%;
}

/*  SECTION CONTACT US */
.contact {
  display: flex;
  width: 90%;
  margin: 50px;
  justify-content: center;
  align-items: center;
}
.contact__Container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.contact__map {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__map iframe {
}
.contact__Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  background-color: #000;
}
.footer__p {
  color: white;
}
.footer__logo {
  width: 100px;
}

@media (max-width: 552px) {
  /* NAVBAR */

  /* HERO */

  /* SECTION TEXT-INFO */
}
